.FuenteGeneral {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}
.pie {
  background-color: black;
  color: blanchedalmond;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

h2 {
  font-weight: bold;
}

.ImagenFondo {
  display: flex;
  justify-content: space-around;
}
.BarraAmarilla {
  background-color: rgb(179, 255, 79);
}

a {
  text-decoration: none;
  color: black;
}
.BarraNavegacion {
  display: flex;
  justify-content: space-around;
}
