@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  width: 1024px;
  height: 1024px;
  margin: auto;
  
}

body main{
    display: flex;
    justify-content: space-evenly;
}


body main article {
   display: flex;
   flex-direction: column;
   width: 300px;
   height: 529px;
   position: relative;
   align-content: center;
   background-color: #F3F3F3; 
   margin-top: 75px;

}
body main article img.corazon{
    display: flex;
    position: absolute;
    margin-top: 16px;
    margin-left: 21px;
}

body main article div.FotoRedonda img{
    display: flex;
    position: absolute;
    border-radius: 50%;
    margin-top: -60px;
    margin-left: 85px;
  
}
body main article div.tarjetaInf{
    padding-top: 40px;
    text-align: center;
}

    
h3 {
  background-color: #1cd1b0;
  text-align: left;
  height: 16px;
  padding: 11px 10px;
  font-size: 15px;
}
h2 {
  font-size: 30px;
}
h1 {
  background-color: #00669f;
  margin-top: -18px;
  align-content: center;
  padding: 30px 28px 30px 28px;
  font-size: 40px;
  height: 41px;
}
p{
    text-align: left;
    padding: 0px 25px;
    font-size: 16px;
}

.Pie {
  margin-top: 100px;  
  color: #fff9f9;
  background-color: #00669f;
  padding:15px;
  font-size: 16px;
  height: 21px;
}


  

